<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles/uime.css" />
		
		<script src="libs/js-yaml-3.3.1.js"></script>		
		<script src="libs/angular-1.4.3.js"></script>		
		<script src="uime.js"></script>
	</head>
	<body data-ng-app="UIME">
		<header class="page-content">
			<h1>INPUT MANAGER EDITOR</h1>
			
			<div class="import-export-header" data-ng-controller="ImportExportBindingsController">
				<button ng-click="exportBindings()">Export</button>
				<uime-open-file caption="Import" onload="onSourceLoad"></uime-open-file>
			</div>
		</header>
		
		<div data-ng-controller="TabsController" data-default-tab="Raw">
			<div class="tab-bar">
				<div class="page-content">
					<a class="tab-button" data-ng-click="switchTab('Controller1')" data-ng-class="{ 'tab-active': currentTab == 'Controller1' }">Controller 1</a>
					<a class="tab-button" data-ng-click="switchTab('Controller2')" data-ng-class="{ 'tab-active': currentTab == 'Controller2' }">Controller 2</a>
					<a class="tab-button" data-ng-click="switchTab('Controller3')" data-ng-class="{ 'tab-active': currentTab == 'Controller3' }">Controller 3</a>
					<a class="tab-button" data-ng-click="switchTab('Controller4')" data-ng-class="{ 'tab-active': currentTab == 'Controller4' }">Controller 4</a>
					<a class="tab-button" data-ng-click="switchTab('Other')" data-ng-class="{ 'tab-active': currentTab == 'Other' }">Other</a>
					<a class="tab-button tab-special" data-ng-click="switchTab('Raw')" data-ng-class="{ 'tab-active': currentTab == 'Raw' }">Raw</a>
				</div>
			</div>
			
			<div class="page-content">
				<div data-ng-if="currentTab === 'Controller1'">
					<div data-ng-controller="EditGroupedBindingsController" data-joystick-group="1" data-uime-embed-view="#EditGroupedBindings"></div>
				</div>
				
				<div data-ng-if="currentTab === 'Controller2'">
					<div data-ng-controller="EditGroupedBindingsController" data-joystick-group="2" data-uime-embed-view="#EditGroupedBindings"></div>
				</div>
				
				<div data-ng-if="currentTab === 'Controller3'">
					<div data-ng-controller="EditGroupedBindingsController" data-joystick-group="3" data-uime-embed-view="#EditGroupedBindings"></div>
				</div>
				
				<div data-ng-if="currentTab === 'Controller4'">
					<div data-ng-controller="EditGroupedBindingsController" data-joystick-group="4" data-uime-embed-view="#EditGroupedBindings"></div>
				</div>
				
				<div data-ng-if="currentTab === 'Other'">
					<div data-ng-controller="EditGroupedBindingsController" data-joystick-group="0" data-uime-embed-view="#EditGroupedBindings"></div>
				</div>
				
				<div data-ng-if="currentTab === 'Raw'">
					<div data-ng-controller="EditRawBindingsController" data-uime-embed-view="#EditRawBindings"></div>
				</div>
			</div>
		</div>


		<!-- Embeded views -->
		<script id="EditRawBindings" type="text/html">
			<table class="bindings" ng-class="{ 'sort-default': sortOrder === 1, 'sort-reverse': sortOrder === -1 }">
				<thead>
					<tr>
						<th ng-repeat="f in fields" ng-bind="f.name" ng-click="sort(f.field)" ng-class="{ 'sort-field': f.field === sortField }"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="b in bindings track by $index">
						<td class="cell-{{f.fieldType}}" ng-repeat="f in fields">
							<button class="remove-binding" ng-click="removeBinding(b)" ng-if="$index == 0">X</button>
							
							<input type="{{f.fieldType}}" ng-model="b[f.field]" data-uime-converter="f.converter" />
						</td>
					</tr>
				</tbody>
			</table>
						
			<button ng-click="addBindings(1)" class="add-binding">+</button>
			<button ng-click="addBindings(4)" class="add-binding">+4</button>
			<!--<button class="add-binding">+S</button>-->
		</script>
		
		<script id="EditGroupedBindings" type="text/html">
			<table class="bindings grouped-bindings">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Binding</th>
						<th>Invert</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="b in bindings track by $index">
						<td>
							<button class="remove-binding" ng-click="removeBinding(b)">X</button>
							
							<input type="text" ng-model="b.m_Name" />
						</td>
						<td><input type="text" ng-model="b.descriptiveName" /></td>
						<td class="axis-or-button-binding">
							<select ng-model="b.type" ng-options="inputTypeNames[t] for t in inputTypeIds" data-uime-converter="{ model: 'number' }"></select>
							
							<input ng-if="b.type == 2" type="number" min="0" ng-model="b.axis" />
							<input ng-if="b.type == 1" type="text" ng-model="b.positiveButton" />
							<input ng-if="b.type == 0" type="text" ng-model="b.axis" />
						</td>
						<td>
							<input type="checkbox" ng-model="b.invert"  data-uime-converter="{ model: 'binary', binding: 'boolean' }"/>
						</td>
					</tr>
				</tbody>
			</table>
			
			<button ng-click="addBindings(1)" class="add-binding">+</button>
			<button ng-click="addBindings(4)" class="add-binding">+4</button>
			<!--<button class="add-binding">+S</button>-->
		</script>
	</body>
</html>