@import url("uime.layout.css");
@import url("uime.controls.css");

/* Header styles */
header .import-export-header {
	float: right;
}

	header .import-export-header button.btn {
		width: 120px;
	}    
		
/* Bindings table styles */
.bindings {
	border-collapse: collapse;
	width: 100%;
	
	margin-top: 20px;
}

	.bindings th {
	    background-color: #EEE;
	    border: 1px solid #ccc;
	    padding: 10px 20px;
		
		cursor: pointer;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
		.bindings th.sort-field:before {
			position: absolute;
			margin-left: -15px;
		}
	
	.bindings.sort-default th {
		position: relative;
	}

		.bindings.sort-reverse th.sort-field:before {
			content: "\2193";
		}

		.bindings.sort-default th.sort-field:before {
			content: "\2191";
		}

	.bindings td {
		border: 1px solid #ccc;
		padding: 0;
	}
	
		.bindings td input[type=text],
		.bindings td input[type=number],
		.bindings td select {
			border: none;
    		padding: 5px 11px;
			
			width: 100%;
			box-sizing: border-box;
		}
		
		.bindings td input[type=checkbox] {
		    margin: 0;
		    width: 100%;
		    height: 1.5em;
		    display: block;
		}
		
		.bindings td.cell-number {
			width: 90px;
		}
		
	.bindings tr td .btn.remove-binding {
		display: none;
		
		position: absolute;
		margin-left: -28px;
		margin-top: -2px;
	
		width: 28px;
		height: 28px;
		
		font-size: 14px;
	}
		
		.bindings tr:hover td .remove-binding {
			display: inline-block;
		}
	
/* Grouped bindings table styles */
.grouped-bindings .axis-or-button-binding select {
	width: 30%;
	background: #f3f3f3;
	float: left;
}

.grouped-bindings .axis-or-button-binding input[type=text],
.grouped-bindings .axis-or-button-binding input[type=number] {
	width: 70%;	
}

/* Add bindings command bar styles */
.add-bindings-bar button.btn {
    width: 50px;
    height: 50px;
    font-size: 25px;

	margin: 10px 10px 0 0;
}

/* Generate bindings dialog styles */
.generate-bindings-dialog {
	padding: 15px;	
}

	.generate-bindings-dialog textarea {
		width: 100%;
		height: 225px;
		margin-top: 10px;
		padding: 0;
	}
	
	
	.generate-bindings-dialog .btn-generate {
		margin: 0;
    	margin-top: 10px;
	    width: 140px;
	}
	
	.generate-bindings-dialog .script-reference {
		margin-top: 10px;
		font-size: .8em;
	
	    overflow-y: auto;
	    height: 280px;
	}
	
		.generate-bindings-dialog .script-reference code {
			font-size: 1.2em;
			background-color: white;
			border: 1px solid #ccc;
		}
